@font-face {
  font-family: "GSG-Bold";
  src: url("/src/assets/font/GenSekiGothic-B.ttc") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "GSG-Heavy";
  src: url("/src/assets/font/GenSekiGothic-H.ttc") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "GSG-Light";
  src: url("/src/assets/font/GenSekiGothic-L.ttc") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "GSG-Medium";
  src: url("/src/assets/font/GenSekiGothic-M.ttc") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "GSG-Regular";
  src: url("/src/assets/font/GenSekiGothic-R.ttc") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "unbounded";
  src: url("/src/assets/font/Unbounded-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}
